$border:2px solid #cccccc;

.card-header {
    background-color: #0e8396;
}

.form-group {
    border-bottom: $border;

    .form-input {
        display: block;
        width: 100%;
        border: none;
        outline: none;

        &:disabled {
            background: none;
        }
    }

    .clear-filter {
        padding-left: 10px;
        cursor: pointer;
    }

    .currency-code {
        margin-right: 5px;
    }
}

.btn-outline-secondary:hover {
    background: none;
}

.asc:before {
    content: "\25BE";
    display: inline-block;
    transform: rotate(180deg);
}

.desc:before {
    content: "\25BE";
}

.transaction {
    border-bottom: $border;
    border-right: $border;

    &:first-of-type {
        border-top: $border;
    }
}