<div class="modal-header text-white justify-content-center">
    <span class="modal-title">Confirmation</span>
    <button type="button" class="close" (click)="dismiss()">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body pb-0">
    <div class="container-fluid p-0">
        <div class="row from-account border-bottom align-items-center justify-content-center">
            <span class="col-3 from-account-title">From</span>
            <span class="col-5">
                <div class="from-account-name">{{data.fromAccount.name}}</div>
                <div class="from-account-number">{{data.fromAccount.accountNumber}}</div>
            </span>
        </div>
        <div class="row to-account border-bottom align-items-center justify-content-center">
            <span class="col-3 to-account-title">To</span>
            <span class="col-5">
                <div class="to-account-name">{{data.toAccount.name}}</div>
                <div class="to-account-number">{{data.toAccount.accountNumber}}</div>
            </span>
        </div>
        <div class="row align-items-center justify-content-center pt-2 pb-2">
            <span class="col-3 amount-title">Amount</span>
            <span class="col-5 amount">{{data.fromAccount.currencyCode | currencyCode}} {{data.amount}}</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <app-button (clicked)="confirm()">Transfer</app-button>
</div>